<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ListFruits2Activity"></activity>
        <activity android:name=".activity.ListFruitActivity" />
        <activity android:name=".activity.FrameActivity" />
        <activity android:name=".activity.RelativeActivity" />
        <activity android:name=".activity.LinearActivity" />
        <activity android:name=".activity.ProcessBarActivity" />
        <activity android:name=".model.students" />
        <activity android:name=".ImageDemoActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>